/********** Template CSS **********/
body{
    background-color: rgb(253, 252, 254);
}

:root {
    --primary: #348E38;
    --secondary: #525368;
    --light: #070807;
    --dark: #0F4229;
}
#text_imagenes{
    color: rgb(50, 32, 32);
}

/* h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
} */

/* h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
} */


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999  
    
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
    position:relative;
    margin-left: 100%;
}

.btn-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    z-index: 1;
    
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

.carousel-inner{
    margin-top: 1%;
    margin-left: 2%;
    width: 96%;
    height: 900px;    
    display: flex;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
  
}


@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}
.container img{    
    width: 100%;
    height: 400px;
   
}

.service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background:#0F4229;
    box-shadow: 0 0 45px rgba(185, 21, 21, 0.08);
    transition: .3s;
}

.service-item:hover .service-text {
    background: transparent;
}

.service-item .service-text h4{
    color: antiquewhite;
}
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #030303;
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}
.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}


#div_inicio{
    height: auto;
    display: flex;
    background-color: #0F4229;
    align-items: start;
    margin-left: 0px;
    width: 100%;
    

}

