body{
    position:relative;
    background-color: rgb(118, 16, 16);
}

#titulo{
    
    margin-top: 1%;
    background-color: rgb(252, 252, 253);
}


h2{
    color: black;
    margin-top:5px;
}

.btn-success{
    width: 180px;
    background-color: rgb(34, 105, 22) !important;   
}
#btn_cerrar_sesion{
    color:white;
    width: 180px;
    background-color: rgb(165, 16, 16) !important;   
}






.btn-warning{
    width: 40%;
    margin-left: 5%;
    margin-right: 2px;
}

.btn-danger{
    width: 40%;
    margin-left: 10%;
    margin-right: 2px;
}


.btn-link{
align-items: flex-start;
width: 40%;
color: rgb(4, 224, 253) !important;
  

}

.card-title{
    display: flex;
    justify-content: center;
  
    margin-bottom: 50px;
}

.card-text{
    display:block;
    align-content: center;
    margin-top: 5%;

}

.container_boton{
    position: relative;
    margin-top: 1%;
    left: 5%;   
}
.container-fluid{
    
    position:relative;
    align-items: center;
    left: 38%;
}
.card{
    
    color: rgb(111, 218, 227);
}
.card-body{
    
    background-color: rgb(11, 91, 14);
    align-items: center;

}